<nav>
<p ><a class="button-logout" href="/">Tribook</a></p>
<% if (isAdmin) { %>
    <p> <a href="/admin/apartment/new-apartment">Añadir nuevo apartamento</a></p>
    <p><a class="button-logout" href="/logout">Logout</a></p>
    <% } else { %><div class="buttons-login-signup">
        
            <p><a class="button-logout" href="/signup">Signup</a></p>
            <p><a class="button-logout" href="/login">Login</a></p>
    </div>

        <% } %>
</nav>