<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Document</title>

</head>

<body>

  <div class="container">

    <h2>Login</h2>

    <form action="/login" method="POST">

      <label> email:</label>
      <input type="email" name="email" placeholder="email" required />

      <label>Contraseña:</label>
      <input  type="password" name="password" placeholder="********" required/>

      <button type="submit">Iniciar sesión</button>
    </form>
  </div>

</body>