<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Document</title>

</head>

<body>
    <h1>Add New Apartment</h1>
    <main class="container">
        <form action="/admin/apartment/new-apartment" method="POST">
            <label for="title">Título</label>
            <input type="text" name="title" id="title" required maxlength="30">
            <label for="description">Descripción</label>
            <textarea rows="5" name="description" id="description"></textarea>
            <label for="price">Precio por noche</label>
            <input type="number" name="price" id="price" required min="0">
            <label for="size">M <sup>2</sup></label>
            <input type="number" name="size" id="size" required min="0">
            <label for="mainPhoto">Foto principal</label>
            <input type="url" name="mainPhoto" id="mainPhoto" required>
            <ul>
                <li>
                    <input id="wifi" name="services" type="checkbox" value="Wi-Fi">
                    <label for="wifi">Wi-Fi</label>
                </li>
                <li>
                    <input id="airConditioner" name="services" type="checkbox" value="Aire Acondicionado">
                    <label for="airConditioner">Aire Acondicionado</label>
                </li>
                <li>
                    <input id="kitchen" name="services" type="checkbox" value="Cocina">
                    <label for="kitchen">Cocina</label>
                </li>
                <li>
                    <input id="dissability" name="services" type="checkbox" value="Acceso Minusválidos">
                    <label for="dissability">Acceso Minusválidos</label>
                </li>
                <li>
                    <input id="heating" name="services" type="checkbox" value="Calefacción">
                    <label for="heating">Calefacción</label>
                </li>
                <li>
                    <input id="tv" name="services" type="checkbox" value="Televisión">
                    <label for="tv">Televisión</label>
                </li>
            <input type="submit" value="Añadir nuevo">
        </form>
    </main>
</body>

</html>