<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Document</title>

</head>

<body>

  <div class="container">

    <h2>Registrarse</h2>

    <form action="/signup" method="POST">

      <label> Email:</label>
      <input type="email" name="email" placeholder="email" required />

      <label>Contraseña:</label>
      <input  type="password" name="password" placeholder="********" required/>
      <p>La contraseña debe tener mínimo 8 símbolos, 1 letra en mayúscula, 1 en minúscula, 1 número y 1 símbolo especial</p>
      <button type="submit">Iniciar sesión</button>
    </form>
  </div>

</body>